SiteClient/SiteClient/Service References/SsoService/SsoService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SsoService.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SsoService.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LoginDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginDto" nillable="true" type="tns:LoginDto" />
  <xs:complexType name="RegisterDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegisterDto" nillable="true" type="tns:RegisterDto" />
</xs:schema>